@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');
/* @import './_variables.scss';
sass variables still not working.. */

body{
  --main-bg-color: #3B4252;
  --mainhalf-bg-color: #3b42528a;
  --secondary-bg-color: #434C5E;
  --tertiary-bg-color: #4C566A;

  --main-font-color: #ECEFF4;
  --secondary-font-color: #b1b8c2;
  --tertiary-font-color: #b1b8c2a2;

  --shadow-color: #1d20296c;
  --border-radius: 7px;

  /* background-color: var(--main-bg-color); */
  background-image: url(https://64.media.tumblr.com/04ff549b92bb99db8ad725a83e288030/tumblr_inline_n258pty5wY1qhwjx8.gif);
  color: var(--main-font-color);
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 1px;
}

h1{
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 5px var(--shadow-color);
  margin-bottom: 0px;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
}

hr{
  border: 1px solid var(--tertiary-font-color);
  border-radius: var(var(--border-radius));
}

#projectContainer{
  width: 80vw;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
  background-color: var(--mainhalf-bg-color);
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  margin-bottom: 75px;
}

/* EACH PROJECT BOX */

.project{
  padding: 10px;
  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius);
  /* background-color: var(--secondary-bg-color); */
  background-image: url(https://64.media.tumblr.com/d249339336e54c5916984cf820ba72c2/tumblr_inline_n258pmUe5i1qhwjx8.png);
  box-shadow: 5px 5px 5px var(--shadow-color);
  /* align-items: center; */
}

  /* PROJECT BOX: INFO SECTION */
#projectInfo{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg-color);
  box-shadow: 3px 3px 5px var(--shadow-color);
  opacity: .9;

  overflow: hidden;
}

h2.projectName{
  text-align: center;
  text-shadow: 3px 3px var(--shadow-color);
  padding: none;
}

  /* PROJECT BOX: TASK SECTION */
#taskContainer{
  height: 350px;
  overflow-y: scroll;

  border-radius: var(--border-radius);
  background-color: var(--mainhalf-bg-color);
  box-shadow: 3px 3px 5px var(--shadow-color);
}

.task{
  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  opacity: .8;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.completedTask{
  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  opacity: .2;
  padding: 10px;
  margin: 10px;
}

/* applicable to project and task descriptions */
.description{
  color: var(--secondary-font-color)
}

/* BUTTONS */

.buttonArea{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

button{
  background-color: #4C566A;
  color: #ECEFF4;
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 1px;
  border: 0px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: var(--border-radius);
  font-size: 15px;
}

button#completeTask{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--main-bg-color);
}

/* CREATE PROJECT MODAL */

#addProjectModal{
  width: 20vw;
  /* height: 10vw; */
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  /* background-color: var(--tertiary-bg-color); */
  background-image: url(https://64.media.tumblr.com/04ff549b92bb99db8ad725a83e288030/tumblr_inline_n258pty5wY1qhwjx8.gif);
  box-shadow: 5px 5px 5px var(--shadow-color);

  display: none; /* NONE VS FLEX CHANGES HERE */
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  /* STRETCH: popup rather than open */
  position: absolute;
  top: 200px;
  margin: auto;
  z-index: 1;
}

button#submitProject{
  background-color: var(--main-bg-color);
  width: 200px;
  align-self: center;
}

textarea{
  background-color: var(--secondary-font-color);
  color: var(--main-bg-color);
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: var(--border-radius);
  padding-left: 10px;
}

textarea.name{
  resize: none;
  /* size: 10px; */
}

textarea.description{
  resize: vertical;
  color: var(--main-bg-color);
}

/* CREATE TASK MODAL */

#addTaskModal{
  width: 15vw;
  /* height: 10vw; */
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  /* background-color: var(--tertiary-bg-color); */
  background-image: url(https://64.media.tumblr.com/04ff549b92bb99db8ad725a83e288030/tumblr_inline_n258pty5wY1qhwjx8.gif);
  box-shadow: 5px 5px 5px var(--shadow-color);
  align-self: center;

  display: none; /* NONE VS FLEX CHANGES HERE */
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  position: absolute;
  top: 200px;
  margin: auto;
  z-index: 1;
}


button#submitTask{
  background-color: var(--main-bg-color);
  width: 200px;
  align-self: center;
}