@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');
/* @import './_variables.scss';
sass variables still not working.. */

body{
  --main-bg-color: #3B4252;
  --secondary-bg-color: #434C5E;
  --tertiary-bg-color: #4C566A;

  --main-font-color: #ECEFF4;
  --secondary-font-color: #b1b8c2;
  --tertiary-font-color: #b1b8c2a2;

  --shadow-color: #1d20296c;
  --border-radius: 7px;

  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 1px;
}

h1{
  text-align: center;
  font-size: 4vw;
  text-shadow: 5px 5px var(--shadow-color);
  margin-bottom: 0px;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

#addProjectModal{
  width: 20vw;
  height: 10vw;
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg-color);

  display: none; /* NONE VS FLEX CHANGES HERE */
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  /* STRETCH: popup rather than open
  position: relative;
  bottom: 0px;
  z-index: 1; */
}

input#projectDescription{
  height: 60px;
}

button#submitProject{
  background-color: var(--main-bg-color);
  width: 200px;
  align-self: center;
}

#projectContainer{
  width: 80vw;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
  background-color: var(--secondary-bg-color);
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;

}

.project{
  padding: 10px;
  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg-color);
  box-shadow: 5px 5px 5px var(--shadow-color);
  /* align-items: center; */
}

#projectInfo{
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: var(--border-radius);
  background-color: var(--main-bg-color);
  box-shadow: 3px 3px 5px var(--shadow-color);
}

h2{
  text-align: center;
}

#taskContainer{
  height: 350px;
  overflow-y: scroll;

  border-radius: var(--border-radius);
  background-color: var(--secondary-bg-color);
  box-shadow: 3px 3px 5px var(--shadow-color);
}

.task{
  border-radius: var(--border-radius);
  background-color: var(--main-bg-color);
  padding: 10px;
  margin: 10px;
}

hr{
  border: 1px solid var(--tertiary-font-color);
  border-radius: var(var(--border-radius));
}

h3{
}

.description{
  color: var(--secondary-font-color)
}

.buttonArea{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

button{
  background-color: #4C566A;
  color: #ECEFF4;
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 1px;
  border: 0px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: var(--border-radius);
}

input{
  background-color: var(--secondary-font-color);
  color: var(--main-bg-color);
  font-family: Oswald, Arial, Helvetica;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: var(--border-radius);
}

#taskInput{
  /* width: 20px; */
  margin-right: 15px;
  margin-left: 15px;
  flex-grow: 1;
}